---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Research plays a central role in my teaching as students improve their analytical skills and master the tools of data analysis through hands-on experience. I have taught undergraduate and graduate courses on marketing, strategy and statistical, Artificial Intelligence, and Machine Learning methodology. I also served as a teaching assistant for courses data analysis at ESADE Business School.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
